*mp4
*npz
*npy
*pyc
*mkv
build/*
build
examples/imitation_learning/datasets/*
examples/imitation_learning/datasets
examples/imitation_learning/logs/*
examples/imitation_learning/logs

examples/plan_generation/datasets/*
examples/plan_generation/datasets
examples/plan_generation/logs/*
examples/plan_generation/logs

.idea/*

.idea
cmake-build-debug
cmake-build-debug/*
*.so
*.pt
*.pth
*.pkl
*.pth
*biconvex_mpc.egg-info/
examples/imitation_learning/test_nb.ipynb
examples/plan_generation/test_nb.ipynb

examples/plan_generation/script_copy_datasets.sh
examples/plan_generation/script_copy_weights.sh
examples/iterative_algorithm/data
examples/iterative_algorithm/wandb